<!DOCTYPE html>
<html lang="en">
<head>
   <title>Main Page</title>
   <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/list.css">
</head>
<body>
    <h1>Main Page</h1>
    <div class="page-container">
        <div class="navbar">
          <a type="button" href="/logout" class="navbar-item">Logout</a>
          <a type="button" href="/analysis" class="navbar-item">Analysis</a>
        </div>
        <div class="list-container">
            <div class="list">
                <table>
                    <!-- Headers -->
                    <tr>
                      <th class="item">Company ID</th>
                      <th class="item">Company Name</th>
                      <th class="item">Quota</th>
                      <th class="item">GPA Threshold</th>
                      <th class="item">Actions</th> <!-- For the cancel link -->
                    </tr>
                    
                    <!-- -->
                    {% for company in companies %}
                
                    <tr>
                      <td class="item">{{ company.cid }}</td>
                      <td class="item">{{ company.cname }}</td>
                      <td class="item" >{{ company.quota }}</td>
                      <td class="item">{{ company.gpa_threshold }}</td>
                      <td class="item"><a type="button" href="/cancel/{{company.cid}}">Cancel</a></td>
                    </tr>
                    {% endfor %}
                  </table>
            </div>          
        </div>
        <a type="button" class="new-apply-btn" href="/test_apply">Apply For New Internship</a>
        <script type="text/javascript">
					window.onload = function() {
						var message = "{{ message }}";
						if (message.length > 0) {
							alert(message);
						}
					};
				</script>	
    </div>
       
    
</body>
</html>